Package: com.ywq92.flexcnhook
Name: FlexCNHook
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: FlexCN
Author: FlexCN
Section: Tweaks
